body {
    height: 100vh;
    display: flex;
    flex-direction: column;
    margin: 0px;
    padding: 0px; 
}

.header,
.firstsection {
    display: flex;
    flex-direction: row;   
    align-items: center;
    justify-content: space-between;
    background-color: #1F2937;
    padding: 0px 100px;
}

.logo {
    width: 50px;
    height: 40px;
}

li {
    list-style-type: none;
}

a {
     text-decoration: none;
     font-style: Roboto;
     color: #E5E7EB;
     font-size: 18px;
}

ul {
    display: flex;
    flex-direction: row;
    gap: 26px;
}

.maintext {
    color: #F9FAF8;
    font-size: 48px;
    font-weight: 900;
}

p {
    color: #E5E7EB;
    font-size: 18px; 
    font-style: 'Roboto';
}

.left {
    display: flex;
    flex-direction: column;
}

.houseright {
    border-radius: 20px;
}

button {
    height: 24px;
    width: 90px;
    background-color: #3882F6;
    color: #E5E7EB;
    border-radius: 6px;
    border: 0px;
    font-weight: 600;
}

.firstsection {
    display: flex;
    padding: 70px 100px;
    gap: 60px;
    justify-content: center;
    align-items: center;
}

.secondsection {
    background-color: #F9FAF8;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 50px 100px 100px;
}

.interiors {
    display: flex;
    flex-direction: row;
    gap: 10px;
}
.image {
    height: 190px;
    width: 190px;
    border-radius: 20px;
    border-color: #3882F6;
    border-style: solid; 
}
.interior {
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
    width: 200px;
    gap: 8px;
}
.text {
    text-align: center;
}

.secondtitle {
    font-size: 32px;
    font-weight: 900;
    margin-bottom: 26px;
}

.thirdsection {
    background-color: #E5E7EB;
    padding: 60px 230px;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 8px;
}

.third {
    margin: auto;
    font-size: 23px;
}

.author {
    margin-left: auto;
}

.fourthsection {
    background-color: #F9FAF8;
    padding: 70px 140px;
}

.blue {
    background-color: #3882F6;
    border-radius: 5px;
    padding: 30px 120px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
} 
.fourth {
    margin: 0px;
    color: #E5E7EB;
    font-size: 12px;
    padding-top: 4px;
}
.call { 
    color: aliceblue;
    font-size: 20px;
    font-weight: 800;
}
.signup {
    border-style: solid;
    border-color: #F9FAF8;
    border-width: 1px;
    color: aliceblue;
}

.footer {
    background-color: #1F2937;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 8px 0px ;
    color: aliceblue;
}


